<p-table [columns]="cols" [value]="listUsers" selectionMode="single" [(selection)]="selectedUser"
    (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Lista de Registros
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Datos del Registro" [(visible)]="displayDialog" [focusOnShow]="false" 
            [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="user">
        <div class="p-col-4">
            <label for="vin">Nombres Completos: </label>
        </div>
        <div class="p-col-8">
            <input pInputText id="nombres" [(ngModel)]="user.nombres" autofocus />
        </div>
        <div class="p-col-4">
            <label for="year">Link Github: </label>
        </div>
        <div class="p-col-8">
            <input pInputText id="link" [(ngModel)]="user.link" />
        </div>
        <div class="p-col-4">
            <label for="brand">Tecnologias Conocidas: </label>
        </div>
        <div class="p-col-8">
            <input pInputText id="tecnologias" [(ngModel)]="user.tecnologias" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>